.startGameButton {
  margin-top: 20px;
  font-size: 2em;
  background-color: rgb(39, 196, 65);
  border: 2px solid black;
}

.startGameButton:hover {
  background-color: rgb(221, 224, 11);
}

.errorMessage {
  font-size: 15px;
  font-weight: bold;
  color: red;
  padding-left: 2px;
  margin-bottom: 40px;
  width: 250px;
}

.input{
  margin-top: 5px;
}

.container_startgame{
  background-color: rgba(1, 22, 17, 0.5);
  height: 180px;
  width: 250px;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

body {
  background-color: #080808;
}
