.nav {
    background-color: #080808;
    color: #fff;
    position: sticky; 
    z-index: 1;
    top: 0;
  }
  
.ul {
    display: flex;
    justify-content: Left;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 1rem;
  }
  
.li {
    margin: 0 1rem;
  }
  
.li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    transition: all 0.3s ease;
  }
  
.li a:hover {
    background-color: rgba(179, 179, 32, 0.5);
    border-radius: 5px;   
  }


@media (max-width: 700px) {
    
.nav {
    background-color: #333;
    color: #fff;
    position: sticky; 
    top: 0;
  }

.ul {
    display: flex;
    justify-content: Left;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 1rem;
  }
    
.li {
    margin: 0 1rem;
  }
    
.li a {
    color: #fff;
    text-decoration: none;
    padding: 0.1rem;
    transition: all 0.3s ease;
  }
    
.li a:hover {
    background-color: #fff;
    color: #333;
  }   
}
